@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

/* CUSTOM PROPERTY */
:root {
    /* Background colors */
    --white-bg-color: #fff;
    --gray-bg-color: #fafafa; 
    --blue-bg-color: #2b3844;
    --dark-bg-color: #202c36;
    /* Colors */
    --blue-text-color: #111517;
    --plasecholor-color: #848484; 
    --white-text-color: #fff;
    /* Fonts */
    --nurito-sans: "Nunito Sans", "Arial", sans-serif;
}
[data-theme="dark"]{
    --white-bg-color: #2b3844;
        --gray-bg-color: #202c36; 
        /* Colors */
        --blue-text-color: #fff; 
        --white-text-color: #fff;
}
/* GLOBAL STYLES */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* :focus {
    outline: 2px solid var(--blue-bg-color);
    outline-offset: 4px;
}
ul, ol {
    list-style: none;
}
input {
    background-color: transparent;
    border: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    font-size: 62.5%;
}
body {
    height: 100%;
    display: flex;
    user-select: none;
    flex-direction: column;
    font-family: var(--nurito-sans);
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.14;
    color: var(--blue-text-color);
    /* background: url(../../public/images/the-map-of-uzbekistan-indicating-a-connected-web-of-dots-and-lines-series-2BE0180.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; */
    /* background-color: var(--gray-bg-color); */
    background-color: var(--gray-bg-color);
    padding-top: 8rem;
    transition: all 0.1s ease;
}
main{
    margin-bottom: 11rem;
}
.container {
  width: 1150px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}
/* SCROLL-STYLE */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 178, 178);
    border-radius: 10px;
  }